div{

        background-color: rgb(118, 22, 245);
        height: 200px;
        line-height: 200px;
        text-align: center;
        border: 2px solid rgb(19, 19, 18);
        width:200px;
        height: 200px;
        margin-left: 500px;
    
  }
